p {
color: green; /* Синий цвет текста */
    margin-left: 20px; /* Отступ слева */
    padding-left: 15px; /* Расстояние от линии до текста */
}

div {
border: solid;
}

p.cat{
color:#8bc34a; font-size:30px;
}
p#weight{color:red; font-size:30px;}
